# Binaries for programs and plugins
bin/
!spec/support/bin
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.prof
*.trace

build/
gru.y[a?]ml

gru
!testdata/fixtures/gru
gru-*
csm-redfish-interface-emulator/

# Test workflow creates this directory, marking the binary as "dirty"
shellspec/

